.jumbotron{
    text-align: center;
    border-radius: 20px;
}

body{
    background-image: url("https://images.unsplash.com/photo-1584291527908-033f4d6542c8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1225&q=80");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
}

.jumbotron{
    border-radius: 100px;
    margin: 0 auto;
    background-color: #212121;
    color: whitesmoke;
    width: 80%;
    display: table;
}

.my-4{
    background-color: honeydew;
}

hr.hr-text {
    position: relative;
      border: none;
      height: 1px;
      background: #999;
  }
  
hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-weight: bold;
    font-size: 0.85rem;
    color: #999;
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h5{
    color: black;
}

.display-4{
    font-size: 20px;
}